*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

#container div{
    margin-top: 50px;
}

p{
    margin-top: 100px;
    text-align: center;
}

#answer {
    visibility: hidden;
}

#button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}